@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.btn:hover {
    background-color: #E39128;
}


/*Intro*/

.intro {
    background-image: url(./images/fox-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 20px 0 240px;
}

/*Intro Header*/

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__text {
    margin-left: 15px;

    color: #F7F7F7;

    font-size: 32px;
    font-weight: 400;
    line-height: 48px;

    text-transform: uppercase;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.navigation__ul {
    display: flex;
    list-style: none;
}

.navigation__ul li {
    margin-left: 60px;
}

.navigation__ul li:first-child {
    margin-left: 0px;
}

.navigation__ul a {
    color: #F7F7F7;

    font-size: 23px;
    font-weight: 400;

    line-height: 60px;

    text-decoration: none;
    transition: linear 0.2s;
}

.navigation__ul a:hover {
    text-decoration: underline;
}

.navigation__ul li:last-child a{
    padding: 10px 23px;
    border: 2px solid #CD6326;
    border-radius: 5px;

    transition: linear 0.2s;
}

.navigation__ul li:last-child a:hover {
    text-decoration: none;
    background-color: #CD6326;
    border: 2px solid #CD6326;
}

/*Intro Survival*/

.survival {
    padding: 120px 0;
}

.survival__inner {
    width: 25%;
}

.survival__title {
    color: #CD6326;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
}

.survival__undertitle {
    color: #F7F7F7;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;

    margin: 50px 0 68px;
}

.survival__btn {
    padding: 16px 42px;

    background-color: #CD6326;
    border-radius: 5px;

    color: #F7F7F7;
    font-size: 23px;
    font-weight: 400;
    line-height: 27px;

    text-align: center;
    text-decoration: none;

    transition: linear 0.2s;
}

/*Latest-aricles*/

/*Latest-aricles top*/

.latest-articles {
    padding: 120px 0 240px;

    background-color: #CCCCCC;
    text-align: center;
}

.latest-articles__title {
    color: #333333;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
}

.latest-articles__undertitle {
    color: #666666;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;

    margin: 20px 0 120px;
}

/*Latest-aricles Cards*/

.latest-articles__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards__arrow {
    width: 29.7px;
    height: 29.7px;
    transform: rotate(45deg);
}

.arrow--left {
    border-bottom: 7px solid #666666;
    border-left: 7px solid #666666;
}

.arrow--right {
    border-top: 7px solid #666666;
    border-right: 7px solid #666666;
}

.cards__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width: 25%;
    height: 360px;
    padding-bottom: 40px;

    background-repeat: no-repeat;
    background-size: cover;
}

.cards__item:nth-child(2) {
    background-image: url(./images/Deer.jpg);
}

.cards__item:nth-child(3) {
    background-image: url(./images/Squirrel.jpg);
}

.cards__item:nth-child(4){
    background-image: url(./images/Bird.jpg);
}

.item__title {
    color: #F7F7F7;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;

    margin-bottom: 12px;
}

.item__undertitle {
    color: #F7F7F7;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
}

/*Latest-aricles Form*/

.latest-articles__notified {
    color: #333333;
    font-size: 27px;
    font-weight: 400;
    line-height: 40.5px;

    margin-top: 240px;
    margin-bottom: 60px;
}

.latest-articles__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-articles__input {
    color: #666666;
    font-size: 23px;
    font-weight: 400;
    line-height: 26.95px;

    background-color: transparent;
    border: 1px solid #666666;
    border-radius: 4px;

    outline: none;

    padding: 21px 0 21px 10px;
    width: 35%;

    box-shadow: 0 0 1px 0.5px rgba(0, 0, 0, 0.25);
}

.latest-articles__btn {
    color: #F7F7F7;
    font-size: 23px;
    font-weight: 400;
    line-height: 27px;
    text-decoration: none;

    background-color: #CD6326;
    border-radius: 0 5px 5px 0;

    padding: 22.1px 34px;

    transition: linear 0.2s;
}

/*Footter*/

.footer {
    background-image: url(./images/Footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 150px 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__text {
    margin-left: 15px;

    color: #F7F7F7;

    font-size: 32px;
    font-weight: 400;
    line-height: 60px;

    text-transform: uppercase;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.footer__ul {
    display: flex;
    list-style: none;
}

.footer__ul li {
    margin-left: 85px;
}

.footer__ul li:first-child {
    margin-left: 0;
}

.footer__ul a {
    color: #F7F7F7;
    font-size: 23px;
    font-weight: 400;
    line-height: 60px;

    text-decoration: none;
    transition: linear 0.2s;
}

.footer__ul a:hover {
    text-decoration: underline;
}

.footer__social li {
    margin-left: 27px;
}

.footer__social li:first-child {
    margin-left: 0;
}

.footer__social a {
    position: relative;

    display: inline-block;
    width: 50px;
    height: 50px;

    text-align: center;

    background-color: #F7F7F7;
    border-radius: 50%;

    transition: linear 0.2s;
}

.footer__social img {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.footer__social a:hover {
    background-color: #E39128;
}
